@using Core.Interfaces
@page "/"
@inject IITableService ITableService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div class="container">
    <!-- Product Cards Column -->
    <NavLink class="btn btn-primary btn-lg" href="/create-table">Create</NavLink>
    <div class="row g-2 card-container m-5">
        @foreach (var table in tables)
        {
            @if (table.Status == Core.Enums.TableTypes.Avaiable || table.ReservationInfo == "no reservation available")
            {
                <div class="col-6 col-md-4 col-lg-3 rounded-1">
                    <div class="card item-card" style="background-color:lightgreen">
                        <p>Avaiable</p>
                        <h1>@table.Number</h1>
                        <div class="card-body">
                            <h5 class="card-title">@table.Name</h5>
                            <button class="btn btn-outline-primary btn-sm" @onclick="()=> NavigateToOrder(table.Id)">Create Order</button>
                            <button class="btn btn-outline-dark btn-sm" @onclick="()=> ShowReservationModal(table.Id)">Reservation</button>
                        </div>
                    </div>
                </div>
            }
            else if (table.Status == Core.Enums.TableTypes.Reserved && (table.ReservationStartTime >= DateTime.UtcNow && table.ReservationEndTime <= DateTime.UtcNow))
            {
                <div class="col-6 col-md-4 col-lg-3 rounded-1">
                    <div class="card item-card" style="background-color:lightgreen">
                        <p>@table.ReservationInfo</p>
                        <h1>@table.Number</h1>
                        <div class="card-body">
                            <h5 class="card-title">@table.Name</h5>
                            <button class="btn btn-outline-primary btn-sm" @onclick="()=> NavigateToOrder(table.Id)">Create Order</button>
                            <button class="btn btn-outline-dark btn-sm" @onclick="()=> ShowReservationModal(table.Id)">Reservation</button>
                        </div>
                    </div>
                </div>
            }
            else 
            {
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card item-card" style="background-color:lightgray">
                        <p>@table.ReservationInfo</p>
                        <h1>@table.Number</h1>
                        <div class="card-body">
                            <h5 class="card-title">@table.Name</h5>
                            <button class="btn btn-outline-primary btn-sm" @onclick="()=> NavigateToOrder(table.Id)">Create Order</button>
                            <button class="btn btn-outline-dark btn-sm" @onclick="()=> ShowReservationModal(table.Id)">Reservation</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<ReservationModal ModalVisible="@modalVisible" SelectedTableId="@selectedTableId"  OnClose="HandleCloseModal" />